
html {  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	}

header {text-align: center;
		color: #ffffff;
        text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
        font: 20px 'ChunkFiveRegular';
		}

body {
  	padding: 10px;  
  	height: 100%;  
	}

h1 {
	font-size: 250%;
	}

h2 {
	font-size: 125%;
	text-align: center;
	}
p {
    color: white; text-align: center; margin: 25px; font-size: 120%;
}

#main {
	
	padding: 10px;
	background-color: rgba(0, 0, 153, 0.9);
	border-radius: 10px;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	height: 900px;
	}
/*-------------------------------------------  table -------------------------------------------------------*/
table{
    background: #f7f7f9;  /*changes color of the background of the table*/
    border-collapse: collapse;
    width: 100%;
}
tr{
    display: table-row;
    border-color: inherit;
}
.odd{
    background: #ececec; /*changes color of the stripes table*/
}
th{
    text-align: left;
    padding: 1em 1em .5em;
    font-weight: bold;
    font-size: 120%;
    color: #545257;  /*changes color of table hd text*/
    background: #bbbcc0; /*changes color of table hd background*/
}
th:first-child{
    /*border-right: 1px solid #6a7680;*/
}
td{
    padding: 1em 1em;
    width: 69%;
}
td:first-child{
    /*border-right: 1px solid #6a7680;*/
}



  




	
